<html>
    <body>
        <form method="POST" action="/auth/Createmeal">
            <label>username</label>
            <input type="text" name="username" />
            <label> Calories </label>
            <input type="number" name="calories" />
            <label> Name of meal: </label>
            <input type="text" name="name" />
            <button type="submit">Insert</button>
        </form>
    </body>
</html>