<html>
    <body>
        <form method="POST" action="/auth/deletemeal">
            <a href="/auth/Readmeals">Readmeals</a>
            <br>
            <label> username: </label>
            <input type="text" name="username" />
            <br>
            <label> mealid: </label>
            <input type="text" name="mealid" />
            <br>
            <button type="submit">delete</button>
        </form>
    </body>
</html>