<!DOCTYPE html>
<html>
    <body>
        Hello <%= email %>
        <br>
        <br>
        <a href="/auth/Createmeal">Create Meal</a>
        <br>
        <br>
        <a href="/auth/Updatemeal">Updatemeal</a>
        <br>
        <br>
        <a href="/auth/deletemeal">DeleteMeal</a>
        <br>
        <br>
        <a href="/auth/Readmeals">Readmeals</a>
        <br>
        <br>
    </body>
    <form method="POST" action="/auth/signout">
        <button type="submit">Sign Out</button>
    </form>
</html>