<html>
    <body>
        <form method="POST" action="/auth/Readmeals">
            <label> username: </label>
            <input type="text" name="username" />
            <button type="submit">Readmeals</button>
        </form>
        <p id="mealdataread"></p>
    </body>
</html>