<html>
    <body>
        <form method="POST" action="/auth/signup">
            <label> user name: </label>
            <input type="text" name="username" />
            <label> Email: </label>
            <input type="email" name="email" />
            <label> Password: </label>
            <input type="password" name="password" />
            <button type="submit">Sign up</button>
        </form>
    </body>
</html>