<html>
    <body>
        <form method="POST" action="/auth/Updatemeal">
            <a href="/auth/Readmeals">Readmeals</a>
            <br>
            <label> username: </label>
            <input type="text" name="username" />
            <br>
            <label> mealid: </label>
            <input type="text" name="mealid" />
            <br>
            <label> Updated Calories </label>
            <input type="number" name="calories" />
            <br>
            <label> updated Name of meal: </label>
            <input type="text" name="name" />
            <br>
            <button type="submit">Update</button>
        </form>
    </body>
</html>